<div class="row">
        <div class="col-md-12">
          <div class="border-bottom-info card mb-3 p-3">
            <p>
                COVID TechAid Lambeth is in a piloting phase. These FAQs will be updated in response to feedback.
            </p>
          </div>
        </div>
      </div>
<div class="row">
  <div class="col-sm-12 pb-1 acc">
    <ngb-accordion [closeOthers]="true">
      <ngb-panel
        title="How will you decide who gets the tech, and what tech they get?"
      >
        <ng-template ngbPanelContent>
          <p>
            We are working with local schools and voluntary organisations to
            ensure it goes to people who genuinely needsit.
          </p>
        </ng-template>
      </ngb-panel>
      <ngb-panel title="Can I get donated tech direct from you?">
        <ng-template ngbPanelContent>
          <p>
            No, we cannot deal with individual requests. If you are in need of
            technology and do not currently have any, or know someone who is in
            this situation, please ask their school or other local bodies to
            contact us on covidtechaid@gmail.com
          </p>
        </ng-template>
      </ngb-panel>
      <ngb-panel title="Does the tech need to be working?">
        <ng-template ngbPanelContent>
          Yes. We do not have the capacity to fix devices. We will be doing a
          fresh install on the donated tech, so it needs to be able to start OK
          and run without too many problems before we do that install.
        </ng-template>
      </ngb-panel>
      <ngb-panel
        title="My tech is working, but it seems to be slow / have some problems. Do you still want it?"
      >
        <ng-template ngbPanelContent>
          Yes, probably! Much tech can work perfectly reasonably with a fresh
          install. Please fill in the donation form with as much detail as
          possible about the tech you have. We will then be in touch about
          whether we think we can use it, and if so to arrange collection.
        </ng-template>
      </ngb-panel>
      <ngb-panel title="I’ve lost the power charger. Do you still want it?">
        <ng-template ngbPanelContent>
          Possibly. Please fill in the donation form with as much detail as
          possible about the tech you have. We will decide whether to take it
          depending on its overall condition and spec, and the ease and cost of
          replacing the charger. We will then be in touch about whether we think
          we can use it, and if so to arrange collection.
        </ng-template>
      </ngb-panel>
      <ngb-panel
        title="My tech is working, but the screen is broken. Do you still want it?"
      >
        <ng-template ngbPanelContent>
          Unfortunately we can't accept items that are currently broken.
        </ng-template>
      </ngb-panel>
      <ngb-panel
        title="Do I need to delete my data from the tech before I donate it?"
      >
        <ng-template ngbPanelContent>
          <p>
            You don't have to delete the data on your device prior to handing it to us as we will 
            always ensure we have deleted any existing data before handing over the device to prospective
            users. Here are some additional links on how to go about deleting your data if you wish to do so.
            For mobile phones and tablets you can factory reset the devices before handing them over.
          </p>  
          <a href="https://support.apple.com/en-us/HT201065" target="_blank">Delete data on Mac OSX</a>
          <br />
          <a href="https://support.microsoft.com/en-gb/help/10547/microsoft-account-selling-gifting-windows-10-device-xbox-one" target="_blank">Delete data on Windows 10</a>

        </ng-template>
      </ngb-panel>
      <ngb-panel
        title="Are you going to do electrical testing of the equipment and auditing of data wipes?"
      >
        <ng-template ngbPanelContent>
          <p>
            We are very mindful of the importance of quality and safety
            assurance tests. We are working with a team of expert volunteers on
            them, and these will be in place and communicated on the website we
            are setting up before the first pilot donation of equipment goes
            out.
          </p>
        </ng-template>
      </ngb-panel>
      <ngb-panel title="Will you collect the tech or do I need to drop it off?">
        <ng-template ngbPanelContent>
          <p>
            We will collect. In Streatham, the Business Improvement District
            organisation for Streatham, has agreed we can use their cargo bike
            for collections. After you have completed the donation form, and if
            we have decided we can use it, we will be in touch to arrange a
            suitable time for collection.
          </p>
        </ng-template>
      </ngb-panel>
      <ngb-panel
        title="Are you providing internet access with the tech you provide to those in need?"
      >
        <ng-template ngbPanelContent>
          <p>
            Not at this stage. We will enquire with the organisations we work
            with to understand what the need is for internet access, while at
            this stage also making progress on providing equipment. As we move
            forward, and understand the need for internet access better, we plan
            to undertake fund-raising to help deliver this.
          </p>
        </ng-template>
      </ngb-panel>
      <ngb-panel title="Who are you?">
        <ng-template ngbPanelContent>
          <p>
            The organising group is made up of Streatham residents who came
            together over social media in response to the Covid-19 outbreak. It
            includes a emeritus Professor of Computer Science from Imperial
            College, a civil servant acting in a personal capacity, a retired
            LSE IT training specialist and charity trustee, a litigation
            solicitor at law firm Leigh Day (acting in a personal capacity)
          </p>
        </ng-template>
      </ngb-panel>
      <ngb-panel title="What support do you have from other organisations?">
        <ng-template ngbPanelContent>
          <p>
            We are supported by InStreatham - the Business Improvement District
            organisation for Streatham, the MP for Streatham, Bell Riberio-Addy,
            and Streatham Space Project. We are keen to broaden our support and
            work with other organisations who support our goals too. Please
            email: covidtechaid@gmail.com
          </p>
        </ng-template>
      </ngb-panel>
    </ngb-accordion>
  </div>
</div>
