<div class="jumbotron">
    <div class="container">
        <h1 class="display-3">Lambeth Covid TechAid</h1>
        <p>
            At the moment, there are hundreds of people stuck at home without a suitable device to access the 
            internet – to communicate with loved ones, to download educational resources, or to even get 
            some basic entertainment. It's our aim to collect your unwanted devices and deliver them to people 
            who really need them, to help combat isolation and boredom.
        </p>
        <!-- <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more »</a></p> -->
    </div>
</div>
<div class="container">
        <div class="row">
            <div class="col-md-4">
                  <h2>We Need Devices</h2>
                  <p>Do you have a laptop you no longer need? A tablet sitting at the bottom of your cupboard? Or a smartphone gathering dust?</p>
                  <p><a class="btn btn-secondary" href="#" role="button" routerLink="/donate">Donate Device »</a></p>
            </div>
            <div class="col-md-4">
                  <h2>We Need Volunteers</h2>
                  <p>If you would like to assist with this initiative, please fill in the volunteer form and we will be in touch to see how you can assist us</p>
                  <p><a class="btn btn-secondary" href="#" role="button" routerLink="/volunteer">Offer To Help »</a></p>
            </div>
            <div class="col-md-4">
                  <h2>FAQ</h2>
                  <p>If you would like to know more details about questions we are frequently asked, see the details below.</p>
                  <p><a class="btn btn-secondary" href="#" role="button" routerLink="/faqs">View FAQ »</a></p>
            </div>
        </div>
</div>
