<!-- Content Row -->
<div class="row">

    <!-- Content Column -->
    <div class="col-lg-12 mb-4">
        <!-- Project Card Example -->
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#" [routerLink]="['../']">Volunteers</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ userName }}</li>
            </ol>
        </nav>

        <ngb-tabset [destroyOnHide]="false">
            <ngb-tab title="Details">
                <ng-template ngbTabContent>
                    <div class="card shadow mb-4 mt-1">
                        <div class="card-header py-3">
                            <div class="d-flex justify-content-between">
                                <h6 class="m-0 font-weight-bold text-primary">{{userName}}</h6>
                            </div>
                        </div>
                        <div class="card-body">
                            <form [formGroup]="form">
                                <formly-form [options]="options" (ngSubmit)="updateEntity(form.value)"
                                    [form]="form" [model]="model" [fields]="fields">
                                </formly-form>
                                <button *ngIf="!options.formState.disabled" style="width: 150px" (click)="updateEntity(form.value)"
                                    type="submit" class="btn btn-primary btn-sm p-2">
                                    <small>Save</small>
                                </button>
                            </form>

                            <div class="delete-api mt-5 " *ngIf="user?.authorities['delete:volunteers']">
                                <h3>Danger Zone</h3>
                                <div class="border-bottom-danger card">
                                    <div class="card-body">
                                        <div class="d-flex justify-content-between">
                                            <div>
                                                <h4>Delete Volunteer</h4>
                                                <p class="text-muted">The volunteer will be removed, this action is not reversable</p>
                                            </div>
                                            <div>
                                                <button type="submit" (click)="modal(confirmDelete);"
                                                    class="btn btn-danger btn-sm">
                                                    <small>DELETE</small>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </ngb-tab>
            <ngb-tab title="Emails" *ngIf="model?.email?.length && user?.authorities['read:emails']">
                <ng-template ngbTabContent>
                    <email-threads [email]="model.email"></email-threads>
                </ng-template>
             </ngb-tab>  
        </ngb-tabset>
    </div>
</div>

<ng-template #confirmDelete let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Are you absolutely sure?</h4>
    </div>
    <div class="modal-body">
        <small>
            <p>Are you really sure you want to delete "<strong>{{userName}}</strong>"? This cannot be undone!</p>
        </small>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-light btn-sm" (click)="c('Close click')">CANCEL</button>
        <button type="button" class="btn btn-danger btn-sm" (click)="deleteEntity(); c('Close click')">YES, DELETE</button>
    </div>
</ng-template>
