.dashboard-container {
    margin-top: 15%;
}

.no-data-available {
   text-align: center;
}

.dataTables_empty {
    display: none;
}

.modal-title{
    font-size: 0.9em;
}

form {
    font-size: 0.9em;
}

.content {
    min-width: 400px;
    overflow: auto;
}

.badged {
    position: relative;
    border: 1px solid #C0C0C0;
    border-radius: 5px;
    span {
        display: block;
        background: #c0c0c0;
        color: dimgrey;
        // display: none;
        font-size: 10px;
        font-weight: bold;
        padding: 5px;
        position: absolute;
        text-transform: uppercase;
        top: 0;
        left: 0;
    }
}

tr > td:nth-child(2) {
    min-width: 250px;
}
