<ng-progress color="#FDB918"></ng-progress>
<ng-progress id="root-http" color="#FDB918"></ng-progress>
<!-- Page Wrapper -->
<div id="wrapper">
    <app-sidebar class="bg-gradient-primary"></app-sidebar>
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
            <app-header></app-header>
            <!-- Begin Page Content -->
            <div class="container-fluid">
                <router-outlet></router-outlet>
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright &copy; Community TechAid</span>
                </div>
            </div>

            <div style="position:absolute;bottom: 0; right: 0;">
                <small class="mr-1"><sup>v{{version.build}}</sup></small>
            </div>
        </footer>
        <!-- End of Footer -->
    </div>
    <!-- End of Content Wrapper -->
</div>
<!-- End of Page Wrapper -->
<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" [routerLink]="[]" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>
