<!-- Content Row -->
<div class="row">

    <!-- Content Column -->
    <div class="col-lg-12 mb-4">
        <!-- Project Card Example -->
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#" [routerLink]="['/dashboard/users']">Users</a></li>
                <li class="breadcrumb-item"><a href="#" [routerLink]="['/dashboard/roles']">Roles</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ roleName }}</li>
            </ol>
        </nav>

        <ngb-tabset>
            <ngb-tab title="Users">
                <ng-template ngbTabContent>
                    <div class="mt-1">
                        <role-users [roleId]="roleId" [roleName]="model.name"></role-users>
                    </div>
                </ng-template>
            </ngb-tab>
            <ngb-tab title="Permissions">
                <ng-template ngbTabContent>
                    <div class="mt-1">
                        <role-permissions [roleId]="roleId"></role-permissions>
                    </div>
                </ng-template>
            </ngb-tab>
        </ngb-tabset>
    </div>
</div>

<ng-template #confirmDelete let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Are you absolutely sure?</h4>
    </div>
    <div class="modal-body">
        <small>
            <p>Are you really sure you want to delete "<strong>{{model.name}}</strong>"? This cannot be undone!</p>
        </small>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-light" (click)="c('Close click')">CANCEL</button>
        <button type="button" class="btn btn-danger" (click)="deleteRole(); c('Close click')">YES, DELETE
            IT</button>
    </div>
</ng-template>
