
.drop-target-content {
    bottom: 0;
    height: 430px;
    left: 0;
    margin: auto;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    -webkit-transition: opacity .5s;
    -moz-transition: opacity .5s;
    -o-transition: opacity .5s;
    transition: opacity .5s;
    width: 430px;
    z-index: 2001;
    display: none;
}

.drop-overlay-active .drop-target-content {
    opacity: 1;
    pointer-events: none;
    display: block;
}

.drop-target-animated {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background-color: #4285f4;
    height: 430px;
    left: 0;
    position: absolute;
    top: 0;
    width: 430px;
}

.drop-overlay-active .drop-target-animated {
    -webkit-animation: pulsate .67s ease-in-out;
    -moz-animation: pulsate .67s ease-in-out;
    -o-animation: pulsate .67s ease-in-out;
    animation: pulsate .67s ease-in-out;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

@-webkit-keyframes pulsate {
    0% {
        height: 430px;
        left: 0;
        top: 0;
        width: 430px;
    }

    50% {
        height: 446px;
        left: -8px;
        top: -8px;
        width: 446px;
    }

    100% {
        height: 430px;
        left: 0;
        top: 0;
        width: 430px;
    }
}

@keyframes pulsate {
    0% {
        height: 430px;
        left: 0;
        top: 0;
        width: 430px;
    }

    50% {
        height: 446px;
        left: -8px;
        top: -8px;
        width: 446px;
    }

    100% {
        height: 430px;
        left: 0;
        top: 0;
        width: 430px;
    }
}

.drop-target-contents-text {
    bottom: 80px;
    color: #fff;
    height: 54px;
    margin-top: auto;
    margin-bottom: auto;
    position: absolute;
    text-align: center;
    width: 100%;
}

.drop-target-contents-text.drop-target-contents-inactive {
    color: #909090;
}

.drop-target-contents-main-title {
    font-size: 18px;
    font-family: arial;
    margin-bottom: 8px;
}

.drop-target-contents-main-text {
    font-size: 13px;
}

.drop-file-icon {
    left: 165px;
    position: absolute;
    top: 150px;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.drop-file-icon.drive-sprite-aux-drive-doc {
    opacity: 1;
}

.drop-file-icon.drive-sprite-aux-drive-doc-gray {
    opacity: 0;
}

.drop-file-icon.drive-sprite-aux-image {
    left: calc(160px);
    -webkit-transform: rotate(20deg);
    -moz-transform: rotate(20deg);
    -ms-transform: rotate(20deg);
    -o-transform: rotate(20deg);
    transform: rotate(20deg);
}

.drop-file-icon.drive-sprite-aux-video {
    -webkit-transform: rotate(20deg);
    -moz-transform: rotate(20deg);
    -ms-transform: rotate(20deg);
    -o-transform: rotate(20deg);
    transform: rotate(20deg);
}

.drop-file-icon.drive-sprite-aux-document,.drop-file-icon.drive-sprite-aux-video {
    opacity: 0;
    top: 130px;
}

.drop-file-icon.drive-sprite-aux-image {
    margin-left: -70px;
    margin-top: -20px;
    -webkit-transform: rotate(-20deg);
    -moz-transform: rotate(-20deg);
    -ms-transform: rotate(-20deg);
    -o-transform: rotate(-20deg);
    transform: rotate(-20deg);
}

.drop-file-icon.drive-sprite-aux-document {
    margin-left: 60px;
    margin-top: 5px;
    opacity: 1;
    -webkit-transform: rotate(40deg);
    -moz-transform: rotate(40deg);
    -ms-transform: rotate(40deg);
    -o-transform: rotate(40deg);
    transform: rotate(40deg);
}

.drop-file-icon.drive-sprite-aux-video {
    margin-left: 10px;
    margin-top: -60px;
    opacity: 1;
    -webkit-transform: rotate(10deg);
    -moz-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
    -o-transform: rotate(10deg);
    transform: rotate(10deg);
}

.drive-sprite-aux-add-file {
    background: no-repeat url("assets/pulse.png") -87px -126px;
    background-size: 307px 472px;
    width: 220px;
    height: 220px;
}

.drive-sprite-aux-computer {
    background: no-repeat url("assets/pulse.png") 0 -126px;
    background-size: 307px 472px;
    width: 30px;
    height: 25px;
}

.drive-sprite-aux-document {
    background: no-repeat url("assets/pulse.png") -101px -347px;
    background-size: 307px 472px;
    width: 100px;
    height: 125px;
}

.drive-sprite-aux-download-file {
    background: no-repeat url("assets/pulse.png") 0 -152px;
    background-size: 307px 472px;
    width: 58px;
    height: 75px;
}

.drive-sprite-aux-drive-doc {
    background: no-repeat url("assets/pulse.png") 0 0;
    background-size: 307px 472px;
    width: 100px;
    height: 125px;
}

.drive-sprite-aux-drive-doc-gray {
    background: no-repeat url("assets/pulse.png") -101px 0;
    background-size: 307px 472px;
    width: 100px;
    height: 125px;
}

.drive-sprite-aux-image {
    background: no-repeat url("assets/pulse.png") -202px -347px;
    background-size: 307px 472px;
    width: 100px;
    height: 125px;
}

.drive-sprite-aux-image-gray {
    background: no-repeat url("assets/pulse.png") 0 -347px;
    background-size: 307px 472px;
    width: 100px;
    height: 125px;
}

.drive-sprite-aux-offline-check {
    background: no-repeat url("assets/pulse.png") -59px -126px;
    background-size: 307px 472px;
    width: 26px;
    height: 25px;
}

.drive-sprite-aux-trash-warning {
    background: no-repeat url("assets/pulse.png") 0 -228px;
    background-size: 307px 472px;
    width: 86px;
    height: 99px;
}

.drive-sprite-aux-video {
    background: no-repeat url("assets/pulse.png") -202px 0;
    background-size: 307px 472px;
    width: 100px;
    height: 125px;
}