<div [class.drop-overlay-active]="active">
    <div class="drop-target-content">
        <div class="drop-target-animated"></div>
        <div class="drop-file-icon drive-sprite-aux-video"></div>
        <div class="drop-file-icon drive-sprite-aux-image"></div>
        <div class="drop-file-icon drive-sprite-aux-document"></div>
        <div class="drop-file-icon drive-sprite-aux-drive-doc"></div>
        <div class="drop-file-icon drive-sprite-aux-drive-doc-gray"></div>
        <div class="drop-target-contents-text">
            <div class="drop-target-contents-main-title">{{header}}</div>
            <div class="drop-target-contents-main-text">{{message}}</div>
        </div>
    </div>
</div>