/* You can add global styles to this file, and also import other style files */
@import "~@ng-select/ng-select/themes/default.theme.css";
@import "~ngx-toastr/toastr.css";
@import "~@fortawesome/fontawesome-free/css/all.min.css";

/**
 * placeholder-loading v0.2.6
 * Author: Zalog (https://www.zalog.ro/)
 * License: MIT
 **/
 .ph-item{direction:ltr;position:relative;display:flex;flex-wrap:wrap;padding:30px 15px 15px;overflow:hidden;margin-bottom:30px;background-color:#fff;border:1px solid #e6e6e6;border-radius:2px}.ph-item,.ph-item *,.ph-item :after,.ph-item :before{box-sizing:border-box}.ph-item:before{content:" ";position:absolute;top:0;right:0;bottom:0;left:50%;z-index:1;width:500%;margin-left:-250%;-webkit-animation:phAnimation .8s linear infinite;animation:phAnimation .8s linear infinite;background:linear-gradient(90deg,hsla(0,0%,100%,0) 46%,hsla(0,0%,100%,.35) 50%,hsla(0,0%,100%,0) 54%) 50% 50%}.ph-item>*{flex:1 1 auto;display:flex;flex-flow:column;padding-right:15px;padding-left:15px}.ph-row{display:flex;flex-wrap:wrap;margin-bottom:7.5px}.ph-row div{height:10px;margin-bottom:7.5px;background-color:#ced4da}.ph-row .big,.ph-row.big div{height:20px;margin-bottom:15px}.ph-row .empty{background-color:hsla(0,0%,100%,0)}.ph-col-2{flex:0 0 16.66667%}.ph-col-4{flex:0 0 33.33333%}.ph-col-6{flex:0 0 50%}.ph-col-8{flex:0 0 66.66667%}.ph-col-10{flex:0 0 83.33333%}.ph-col-12{flex:0 0 100%}.ph-avatar{position:relative;width:100%;min-width:60px;background-color:#ced4da;margin-bottom:15px;border-radius:50%;overflow:hidden}.ph-avatar:before{content:" ";display:block;padding-top:100%}.ph-picture{width:100%;height:120px;background-color:#ced4da;margin-bottom:15px}@-webkit-keyframes phAnimation{0%{transform:translate3d(-30%,0,0)}to{transform:translate3d(30%,0,0)}}@keyframes phAnimation{0%{transform:translate3d(-30%,0,0)}to{transform:translate3d(30%,0,0)}}
body{
    /* background-image:url('assets/background-primary.jpg'); */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #F8FAFB;
}

.avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

thead th {
    font-size: 0.85em;
}

.hidden {
    display: none !important;
}

h1.small {
    font-size: 1.5rem;
    margin: 0px;
}
.modal-full {
    min-width: 100%;
    margin: 0;
}
.modal-full .modal-content {
    min-height: 100vh;
}
.visuallyhidden { 
    position: absolute; 
    overflow: hidden; 
    clip: rect(0 0 0 0); 
    height: 1px; width: 1px; 
    margin: -1px; padding: 0; border: 0; 
}

.is-invalid > .ng-invalid.ng-touched > .form-control,
.is-invalid > .validate.ng-touched {
    border: 1px solid #dc3545;
    border-radius: 5px;
}

.is-invalid > .ng-invalid.ng-touched > .form-control:focus, 
.is-invalid > .validate.ng-touched:focus{
    border-color:#dc3545;
    box-shadow:0 0 0 .2rem rgba(220,53,69,.25)
}
.btn-group-xs > .btn, .btn-xs {
    padding  : .25rem .4rem;
    font-size  : .875rem;
    line-height  : .5;
    border-radius : .2rem;
}
.modal-fullscreen .modal-dialog{
    width: 90% !important;
    max-width: 90% !important;
}
.modal-transparent .modal-content,
.modal-transparent .modal-content  .modal-header {
    background-color: transparent;
    border: none;
}

input[type="text"].srch {
    outline: none;
    box-shadow:none !important;
    height: 38px;
}

.no-data-available{
    text-align: center;
}
 
 .dataTables_empty {
    text-align: center;
 }

.transparent {
    opacity: 0.90;
}

.masked input::-moz-placeholder { 
    color: transparent;
}

@keyframes placeHolderShimmer{
    0%{
        background-position: -468px 0;
    }
    100%{
        background-position: 468px 0;
    }
}


.masked label,
.masked .btn,
.masked h1,
.masked p,
.masked code,
.masked kbd,
.masked .timeline-panel,
.masked a{
    /**
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
    **/
    background: #eeeeee !important;

    background-size: 800px 104px;
    position: relative;
    color: #eeeeee !important;
    border: 0px;
    border-radius: 0;
    pointer-events: none;
    user-select: none;
}

.masked .fa {
    color: #eeeeee !important;
}

.masked .input-group  *,
.masked .form-control {
    background-color: #eeeeee !important;
    color: #eeeeee !important;
    border: none;
    pointer-events: none;
    user-select: none;
    opacity: 1.0;
    border-radius: 0;
}

.masked .text-muted {
    display: none !important;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    /* IE10+ CSS styles go here */
    formly-form.row {
        display: block;
        margin: 15px;
    }

    formly-form.col-md-4 {
        display: block;
        width: 100px;
        margin: 15px;
    }
}

.ng-value span.ng-value-label{
    word-break: break-word;
    white-space: pre-line;
    border-left: 1px solid #c2e0ff;
}

.ng-value .ng-value-icon{
    border-right: 0px !important;
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option {
    word-break: break-word;
    white-space: pre-line !important; 
}

.pac-container {
    z-index: 1051 !important;
}

.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
    margin-top: 5px;
}

.nav-scroller .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    color: rgba(255, 255, 255, .75);
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

.p-relative {
    position: relative;
}

.overlay {
    position: absolute; /* Sit on top of the page content */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
  }

.nav-underline .nav-link {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: .875rem;
    color: var(--secondary);
}

.nav-underline .nav-link:hover {
    color: var(--blue);
}

.nav-underline .active {
    font-weight: 500;
    color: var(--gray-dark);
}
  
html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}

.ng-input input {
    font-size: 1em !important;
}

.timeline {
    list-style: none;
    padding: 20px 0 20px;
    position: relative;
}

    .timeline:before {
        top: 0;
        bottom: 0;
        position: absolute;
        content: " ";
        width: 3px;
        background-color: #eeeeee;
        left: 50%;
        margin-left: -1.5px;
    }

    .timeline > li {
        margin-bottom: 20px;
        position: relative;
    }

        .timeline > li:before,
        .timeline > li:after {
            content: " ";
            display: table;
        }

        .timeline > li:after {
            clear: both;
        }

        .timeline > li:before,
        .timeline > li:after {
            content: " ";
            display: table;
        }

        .timeline > li:after {
            clear: both;
        }

        .timeline > li > .timeline-panel {
            width: 46%;
            float: left;
            border: 1px solid #d4d4d4;
            border-radius: 2px;
            padding: 20px;
            position: relative;
            -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
            box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
        }

            .timeline > li > .timeline-panel:before {
                position: absolute;
                top: 26px;
                right: -15px;
                display: inline-block;
                border-top: 15px solid transparent;
                border-left: 15px solid #ccc;
                border-right: 0 solid #ccc;
                border-bottom: 15px solid transparent;
                content: " ";
            }

            .timeline > li > .timeline-panel:after {
                position: absolute;
                top: 27px;
                right: -14px;
                display: inline-block;
                border-top: 14px solid transparent;
                border-left: 14px solid #fff;
                border-right: 0 solid #fff;
                border-bottom: 14px solid transparent;
                content: " ";
            }

        .timeline > li > .timeline-badge {
            color: #fff;
            width: 50px;
            height: 50px;
            line-height: 50px;
            font-size: 1.4em;
            text-align: center;
            position: absolute;
            top: 16px;
            left: 50%;
            margin-left: -25px;
            background-color: #999999;
            z-index: 100;
            border-top-right-radius: 50%;
            border-top-left-radius: 50%;
            border-bottom-right-radius: 50%;
            border-bottom-left-radius: 50%;
        }

        .timeline > li.timeline-inverted > .timeline-panel {
            float: right;
        }

            .timeline > li.timeline-inverted > .timeline-panel:before {
                border-left-width: 0;
                border-right-width: 15px;
                left: -15px;
                right: auto;
            }

            .timeline > li.timeline-inverted > .timeline-panel:after {
                border-left-width: 0;
                border-right-width: 14px;
                left: -14px;
                right: auto;
            }

.timeline-badge.primary {
    background-color: #2e6da4 !important;
}

.timeline-badge.success {
    background-color: #3f903f !important;
}

.timeline-badge.warning {
    background-color: #f0ad4e !important;
}

.timeline-badge.danger {
    background-color: #d9534f !important;
}

.timeline-badge.info {
    background-color: #5bc0de !important;
}

.timeline-title {
    margin-top: 0;
    color: inherit;
}

.timeline-body > p,
.timeline-body > ul {
    margin-bottom: 0;
}

    .timeline-body > p + p {
        margin-top: 5px;
    }

@media (max-width: 767px) {
    ul.timeline:before {
        left: 40px;
    }

    ul.timeline > li > .timeline-panel {
        width: calc(100% - 90px);
        width: -moz-calc(100% - 90px);
        width: -webkit-calc(100% - 90px);
    }

    ul.timeline > li > .timeline-badge {
        left: 15px;
        margin-left: 0;
        top: 16px;
    }

    ul.timeline > li > .timeline-panel {
        float: right;
    }

        ul.timeline > li > .timeline-panel:before {
            border-left-width: 0;
            border-right-width: 15px;
            left: -15px;
            right: auto;
        }

        ul.timeline > li > .timeline-panel:after {
            border-left-width: 0;
            border-right-width: 14px;
            left: -14px;
            right: auto;
        }
}

.bordered {
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #e3e6f0;
    border-radius: 0.35rem;;
}

blockquote {
    background: #f9f9f9;
    border-left: 5px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
}


i.input-group-text {
    font-weight: 900 !important;
}

.thumbnail img {
    width: 480px;
    height: 320px;
    object-fit: contain;
}

@media only screen and (max-width: 375px) {
  .card-main {
    width: 95vw;
  }

  .thumbnail img {
      width: 150px;
      height: 150px;
      object-fit: contain;
  }
}

.container,  .container-fluid {
  padding-left: 0.5em !important;
  padding-right: 0.5em !important;
}

.sidebar-toggled .sidebar {
  display: none;
}

.kit-status .custom-control {
    color: black;
}

.kit-status .custom-control:nth-child(1){
    border-radius: 5px 5px 0px 0px;
    background-color: #CC4126;
    color: white;
}
.kit-status .custom-control:nth-child(2),
.kit-status .custom-control:nth-child(3),
.kit-status .custom-control:nth-child(4){
    background-color: #E16666;
}

.kit-status .custom-control:nth-child(5),
.kit-status .custom-control:nth-child(6),
.kit-status .custom-control:nth-child(7){
    background-color: #E69138;
}

.kit-status .custom-control:nth-child(8){
    background-color: #F7B26C;
}

.kit-status .custom-control:nth-child(9),
.kit-status .custom-control:nth-child(10){
    background-color: #F1C233;
}

.kit-status .custom-control:nth-child(11){
    background-color: #69A84F;
}

.kit-status .custom-control:nth-child(12){
    background-color: #B6D7A7;
}

.kit-status .custom-control:nth-child(13){
    background-color: #A2C4C9;
    border-radius: 0px 0px 5px 5px;
}

.cke_contents {
    padding-top: 15px !important;
    padding-left: 10px !important;
}

.dataTables_filter input:focus {
    box-shadow: none;
}

.no-data-available {
    text-align: center;
 }
 
 .dataTables_empty {
     display: none;
 }
 
 .modal-title{
     font-size: 0.9em;
 }
