<div class="upload-container" *ngIf="(!active && files.length) || (active && upload_data.length)" [class.inline]="inline">
    <div class="row">
        <div class="col-sm-2">
            <div class="info-block">
                <i class="icon fa fa-fw fa-info-circle"></i>
                <span *ngIf="files.length">Files
                    <kbd>{{files.length}}
                        <span *ngIf="raw_size">({{size}})</span>
                    </kbd>
                </span>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="pbar" *ngIf="progress > 0 && progress < 100">
                <ngb-progressbar type="info" [value]="progress" height=".5rem"></ngb-progressbar>
            </div>
        </div>
        <div class="col-sm-2 expander">
            <button type="button" class="btn btn-outline-primary btn-sm" (click)="collapsed = !collapsed" [attr.aria-expanded]="!collapsed"
                aria-controls="collapseExample">
                <i class="fa fa-fw" [class.fa-angle-double-down]="!collapsed" [class.fa-angle-double-up]="collapsed"></i>
            </button>
        </div>
    </div>
    <div class="row" [ngbCollapse]="collapsed">
        <div class="file-list">
            <div class="card">
                <ul class="list-group list-group-flush" *ngIf="active; else inactive">
                    <li *ngFor="let f of upload_data;" class="list-group-item flex-column">
                        <div class="d-flex w-100 justify-content-between">
                            <div class="w-100" style="padding-right: 10px;">
                                <p class="mb-1">
                                    <i class="fa fa-fw" [class.fa-exclamation-triangle]="f.isError()" [class.fa-check]="f.isSuccess()" [class.fa-clock-o]="f.isPending() || f.isQueued()"
                                        [class.fa-spinner]="f.inProgress()" [class.fa-spin]="f.inProgress()"></i>
                                    {{f.file.name}}
                                    <kbd class="pull-right">{{humanFileSize(f.file.size)}}</kbd>
                                </p>
                                <p class="text-muted" *ngIf="f.response && f.response.message">{{f.response.message}} {{f.response.statustext}}</p>
                            </div>
                            <div>
                                <div class="btn-group btn-group-sm" role="group" aria-label="Action Downloads">
                                    <button type="button" (click)="f.cancel()" *ngIf="f.inProgress() || f.isPending()" class="btn btn-danger">
                                        <i class="fa fa-fw fa-times"></i>Cancel</button>
                                    <button type="button" (click)="f.upload()" *ngIf="f.isError()" class="btn btn-primary">
                                        <i class="fa fa-fw fa-refresh"></i> Retry</button>
                                </div>
                            </div>
                        </div>
                        <div>
                            <br />
                            <ngb-progressbar *ngIf="f.inProgress()" type="info" [value]="f.progress" height=".5rem"></ngb-progressbar>
                        </div>
                    </li>
                </ul>

                <ng-template #inactive>
                    <ul class="list-group list-group-flush">
                        <li *ngFor="let f of files;" class="list-group-item flex-column">
                            <div class="d-flex w-100 justify-content-between">
                                <p class="mb-1">
                                    <i class="fa fa-fw fa-clock-o"></i>
                                    {{f.file.name}}
                                </p>
                                <kbd>{{humanFileSize(f.file.size)}}</kbd>
                            </div>
                        </li>
                    </ul>
                </ng-template>
            </div>
        </div>
    </div>
</div>