.upload-container {
    background-color: #CFD3D7;
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    padding: 5px 10px 5px;
    font-size: 0.8em;
    opacity: 0.9;
    z-index: 5000;
}

.inline {
    position: relative;
    margin-top: 10px;
}

.icon {
    color: #1273DB;
    font-size: 1.2em;
}

.info-block {
    margin-top: 5px;
}

.pbar {
    margin-top: 10px;
}

.expander {
    text-align: right;
}

.file-list {
    width: 100%;
    margin: 5px 5px 0 0;
    border-top: solid 1px #C0C0C0;
    padding: 10px 15px 0;
    height: 200px;
    overflow-y: auto;
}
